.categories {
    margin: 30px;
}

p.MuiTypography-root.MuiTypography-body1.heading {
    font-weight: bold;
    font-size: 20px;
}

p.MuiTypography-root.MuiTypography-body1.category-heading {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 40px;
    right: 20px;
    float: right;
    z-index: 2;
    /* color: #fff5d1; */
    color: white;

    /* font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: 36px;  
    float: right;
    z-index: 2;
    color: black;
    padding: 3px;
    background: #ffd890;
    opacity: 0.8;
    border-radius: 0px 10px 0px 10px; */
}

.category-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
    justify-content: center;

}

.category {
    height: 200px;
    width: 300px;
}